*{
  margin:10px;
}
.cl {
  border: 1px solid #ccc;
  border-radius: 30px;
  width: 250px;
  background-color: rgb(240, 10, 41);
}

.b {
  height: 45px;
  border-radius: 10px;
  width: 55px;
  margin: 4px;
  background-color: rgb(198, 252, 2);
}

.div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#display {
  background-color: rgb(198, 252, 2);
  margin: 10px;
  width: 85%;
  font-size: 25px;
}
body{
  display: flex;
  justify-content: center;
   
}